.container {
  margin-top: 40px; /* Відстань від тексту повідомлення */
  padding: 20px;
  background-color: #f1f3f5; /* Світлий фон */
  border: 2px solid #495057; /* Чітка рамка */
  border-radius: 10px; /* Закруглені кути */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легка тінь для глибини */
}

h2 {
  font-size: 22px;
  color: #343a40;
  text-align: center;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  color: #495057;
  margin: 5px 0;
  text-align: center;
}
